In [11]:
import pandas as pd

df = pd.read_csv("AB_NYC_2019.csv")

grouped = df.groupby("neighbourhood").count()
grouped

,id,name,host_id,host_name,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood,,,,,,,,,,,,,,,
Allerton,42,42,42,42,42,42,42,42,42,42,42,37,37,42,42
Arden Heights,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Arrochar,21,21,21,21,21,21,21,21,21,21,21,20,20,21,21
Arverne,77,77,77,77,77,77,77,77,77,77,77,66,66,77,77
Astoria,900,900,900,900,900,900,900,900,900,900,900,709,709,900,900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Windsor Terrace,157,157,157,157,157,157,157,157,157,157,157,128,128,157,157
Woodhaven,88,88,88,88,88,88,88,88,88,88,88,72,72,88,88
Woodlawn,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
Woodrow,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
Woodside,235,235,235,235,235,235,235,235,235,235,235,170,170,235,235